<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dhcpServer" type="WinDHCP.Library.Configuration.DhcpServerConfigurationSection, WinDHCP.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <dhcpServer startAddress="192.168.1.105" endAddress="192.168.1.150" subnet="255.255.255.0" gateway="192.168.1.1" leaseDuration="1.00:00:00">
    <macAllowList>
      <add physicalAddress="*" />
    </macAllowList>
    <macReservationList>
      <add physicalAddress="ff:ff:ff:ff:ff:ff" ipAddress="192.168.1.101" />
    </macReservationList>
    <dnsServers>
      <add ipAddress="192.168.1.100" />
    </dnsServers>
  </dhcpServer>
</configuration>